
.hover-effect {
  transition: transform 0.3s, box-shadow 0.3s; 
}

.hover-effect:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card {
  position: relative;
}

.card-img-top {
  width: 100%;
  height: auto;
  display: block;
}

.rating-overlay,
.wishlist-overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-overlay {
  left: 5px;
  bottom: 5px;
  border-radius: 5px;
  padding: 5px;
}

.wishlist-overlay {
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  border: none;
  padding: 8px;
}


.addtobag-overlay {
  position: absolute;
  top: 435px;
  right: 10px; 
  /* background-color: rgba(255, 255, 255, 0.7);  */
  padding: 5px; 
  border-radius: 5px; 
  background-color: #FF3E6C;
  color: white;
  z-index: 1; 
}